* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Roboto";
}

/* this is header section */
header {
  background-color: blue;
  margin: auto;
  padding: 20px 5px;
  font-weight: bold;
}

.header img {
  margin: 20px;
}

.header_div_div {
  color: white;
  margin-left: -10px;
  margin-top: 18px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.header div {
  display: flex;
}

.header_navbar a {
  text-decoration: none;
  color: white;
  display: none;
}

/* This is sectionOne */
.sectionOne_img {
  width: 100%;
}

.sectionOne_div1, .sectionTwo_div4 {
  display: flex;
  flex-direction: column;
}

.button_on_site_challenges {
  background-color: rgb(138, 207, 229);
  margin: 30px 60px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 4px rgb(1, 24, 39);
  font-size: 0.9em;
}

.sectionOne_div1_link, .sectionTwo_div4_link {
  text-align: center;
  margin: 15px;
  color: rgb(54, 118, 157);
  font-weight: bold;
  font-size: 0.7em;
}

.sectionOne_div2 {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  padding: 20px 10px;
}

.sectionOne_div2_div_visiter_comment {
  font-family: Italic;
  letter-spacing: 0%;
  margin-left: 15px;
  font-size: 0.8em;
}

.sectionOne_div2_div_visiter_profil {
  margin-left: 15px;
  font-size: 0.7em;
}

.sectionOne_div2_div {
  margin-bottom: 15%;
}

/* this it sectionTwo */
.sectionTwo_title_popularChallenges {
  font-size: 1.3em;
  padding: 10px;
}

.sectionTwo_slider {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  margin: 0;
}

.sectionTwo_hacker_img {
  width: 100%;
}

.sectionTwo_div1 {
  min-width: 300px;
  border: 2px ridge;
  border-radius: 7px;
  width: 480px;
  margin: 20px;
  box-shadow: 1px 2px rgb(1, 24, 39);
}

.sectionTwo_title_room {
  font-size: 1.1em;
  padding: 7px 0 0 13px;
}

.sectionTwo_div2 {
  display: flex;
  align-items: center;
}
.sectionTwo_div2 img {
  padding-left: 10px;
  width: 5%;
  height: auto;
}

.sectionTwo_div2_2-6 {
  padding-left: 10px;
  font-size: 0.7em;
}

.sectionTwo_praetera {
  font-size: 0.8em;
  padding: 20px 10px;
}

.button_book_this_room {
  background-color: rgb(227, 23, 10);
  color: white;
  font-size: 0.7em;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 0 10px 15px 120px;
}

/* this it sectionThree */
.sectionThree {
  background-color: rgb(1, 24, 39);
  padding: 80px 0;
  margin-top: 20px;
}
.sectionThree_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 30px;
}
.sectionThree_text {
  text-align: center;
  color: white;
  font-size: 1.1em;
}
.sectionThree_button_reas_the_full_story {
  background-color: rgb(1, 24, 39);
  color: rgb(138, 207, 229);
  border: 1px solid rgb(138, 207, 229);
  padding: 10px 30px;
}

.sectionFour_img {
  width: 100%;
  height: 70%;
}
.sectionFour_play_with {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 12px;
}
.sectionFour_praeterea {
  margin: 10px 12px;
  font-size: 0.9em;
}
.sectionFour_button_book_on_site_today {
  background-color: rgb(227, 23, 10);
  color: white;
  margin: 30px 25px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.9em;
}

.sectionFive_img {
  width: 100%;
  height: 70%;
}
.sectionFive_play_online {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 12px;
}
.sectionFive_praeterea {
  margin: 10px 12px;
  font-size: 0.9em;
}
.sectionFive_button_see_all_challenges {
  background-color: rgb(227, 23, 10);
  color: white;
  margin: 30px 25px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.9em;
}

.footer {
  background-color: rgb(1, 24, 39);
  margin-top: 30px;
  padding: 60px 5px 50px 25px;
}
.footer_esc_hacker {
  color: white;
  font-size: 0.8em;
  font-weight: blod;
}
.footer_quodsi {
  color: white;
  font-size: 0.6em;
  padding-top: 10px;
}
.footer_navbar {
  color: white;
}
.footer_navbar_site_map, .footer_navbar_follow {
  padding: 30px 0 5px 0;
  font-size: 0.8em;
  font-weight: blod;
}
.footer_navbar_ul1, .footer_navbar_ul2, .footer_navbar_ul3 {
  list-style-type: none;
}
.footer_navbar_ul1 a, .footer_navbar_ul2 a, .footer_navbar_ul3 a {
  color: white;
  text-decoration: none;
  font-size: 0.6em;
  padding: 0;
  margin: 0;
}
.footer_navbar_ul2 {
  padding-top: 15px;
}

@media screen and (min-width: 480px) {
  .header_div_div {
    color: white;
    margin-left: -10px;
    margin-top: 18px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
  }
  .header_navbar a {
    display: inline;
  }
  header {
    background-color: rgb(1, 24, 39);
  }
}
