* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Roboto";
}

/* this is header section */
header {
  background-color: rgb(1, 24, 39);
  margin: auto;
  padding: 20px 5px;
  font-weight: bold;
}

.header_div1 {
  display: flex;
}

.header_img {
  margin: 20px;
}

.header_div2 {
  color: white;
  margin-left: -10px;
  margin-top: 18px;
  font-size: 1em;
}
@media screen and (min-width: 480px) {
  .header_div2 {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 480px) {
  .header_div2_h1 {
    font-size: 1.6em;
    margin-left: 15px;
  }
}

.header_navbar a {
  text-decoration: none;
  color: white;
  display: none;
}
@media screen and (min-width: 480px) {
  .header_navbar a {
    display: inline;
  }
}

@media screen and (min-width: 480px) {
  .header_navbar {
    display: flex;
    justify-content: space-evenly;
  }
}

/* This is sectionOne */
.sectionOne_img {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .sectionOne_img {
    max-height: 80vh;
    object-fit: cover;
  }
}

@media screen and (min-width: 480px) {
  .sectionOne_section {
    margin-top: -70px;
  }
}

.sectionOne_div1,
.sectionTwo_div4 {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .sectionOne_div1,
  .sectionTwo_div4 {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.button_on_site_challenges {
  background-color: rgb(138, 207, 229);
  margin: 30px 60px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 4px rgb(1, 24, 39);
  font-size: 0.9em;
}
.sectionOne_div1_link,
.sectionTwo_div4_link {
  text-align: center;
  margin: 15px;
  color: rgb(54, 118, 157);
  font-weight: bold;
  font-size: 0.7em;
}
@media screen and (min-width: 480px) {
  .sectionOne_div1_link,
  .sectionTwo_div4_link {
    color: white;
    background-color: red;
    text-decoration: none;
    margin: 30px 60px;
    padding: 22px 30px;
    border-radius: 10px;
    font-size: 0.9em;
  }
}

.sectionOne_div2 {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 0;
  padding-left: 30px;
  gap: 60px;
}
.sectionOne_div3 {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 20px 0;
  border: 5px ridge;
  box-sizing: border-box;
}
.sectionOne_div3_div_visiter_comment {
  font-family: Italic;
  margin-left: 15px;
  font-size: 0.8em;
  border-style: solid;
  border-width: 1px 1px;
}

.sectionOne_div3_div_visiter_profil {
  margin-left: 15px;
  font-size: 0.7em;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px 1px;
  margin-bottom: 0;
  margin-right: 200px;
}

.sectionOne_div3_div {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}

/* this it sectionTwo */
.sectionTwo_title_popularChallenges {
  font-size: 1.3em;
  padding: 10px;
}

.sectionTwo_slider {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  margin: 0;
}

.sectionTwo_hacker_img {
  width: 100%;
}

.sectionTwo_div1 {
  min-width: 300px;
  border: 2px ridge;
  border-radius: 7px;
  width: 480px;
  margin: 20px;
  box-shadow: 1px 2px rgb(1, 24, 39);
}

.sectionTwo_title_room {
  font-size: 1.1em;
  padding: 7px 0 0 13px;
}

.sectionTwo_div2 {
  display: flex;
  align-items: center;
}
.sectionTwo_div2 img {
  padding-left: 10px;
  width: 5%;
  height: auto;
}

.sectionTwo_div2_2-6 {
  padding-left: 10px;
  font-size: 0.7em;
}

.sectionTwo_praetera {
  font-size: 0.8em;
  padding: 20px 10px;
}

.button_book_this_room {
  background-color: rgb(227, 23, 10);
  color: white;
  font-size: 0.7em;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 0 10px 15px 120px;
}

/* this it sectionThree */
.sectionThree {
  background-color: rgb(1, 24, 39);
  padding: 80px 0;
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .sectionThree {
    padding-top: 100px;
    min-height: 30vh;
  }
}
.sectionThree_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 30px;
}
.sectionThree_text {
  text-align: center;
  color: white;
  font-size: 1.1em;
}
@media screen and (min-width: 480px) {
  .sectionThree_text {
    overflow-wrap: break-word;
  }
}
@media screen and (min-width: 900px) {
  .sectionThree_text {
    padding: 0 230px;
    overflow-wrap: break-word;
  }
}
.sectionThree_button_reas_the_full_story {
  background-color: rgb(1, 24, 39);
  color: rgb(138, 207, 229);
  border: 1px solid rgb(138, 207, 229);
  padding: 10px 30px;
}

@media screen and (min-width: 480px) {
  .sectionFour_div {
    display: flex;
    flex-direction: row;
  }
}
.sectionFour_div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px auto 20px;
}
@media screen and (min-width: 480px) {
  .sectionFour_div2 {
    margin: 5px 25px 0 25px;
  }
}
.sectionFour_img {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .sectionFour_img {
    width: 150vw;
    height: 350px;
    max-height: 100%;
  }
}
@media screen and (min-width: 900px) {
  .sectionFour_img {
    width: 140vw;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .sectionFour_img {
    width: 80vw;
    height: 460px;
  }
}
.sectionFour_play_with {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 12px;
}
.sectionFour_praeterea {
  margin: 10px 12px;
  font-size: 0.9em;
}
.sectionFour_button_book_on_site_today {
  background-color: rgb(227, 23, 10);
  color: white;
  margin: 30px 25px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.9em;
}

@media screen and (min-width: 480px) {
  .sectionFive_div {
    display: flex;
    flex-direction: row-reverse;
  }
}
.sectionFive_div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px auto 20px;
}
@media screen and (min-width: 480px) {
  .sectionFive_div2 {
    margin: 5px 25px 0 25px;
  }
}
.sectionFive_img {
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .sectionFive_img {
    width: 150vw;
    height: 350px;
    max-height: 100%;
  }
}
@media screen and (min-width: 900px) {
  .sectionFive_img {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .sectionFive_img {
    height: 460px;
  }
}
.sectionFive_play_online {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 12px;
}
.sectionFive_praeterea {
  margin: 10px 12px;
  font-size: 0.9em;
}
.sectionFive_button_see_all_challenges {
  background-color: rgb(227, 23, 10);
  color: white;
  margin: 30px 25px;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.9em;
}

.footer {
  background-color: rgb(1, 24, 39);
  margin-top: 30px;
  padding: 40px 20px 50px 30px;
}
@media screen and (min-width: 480px) {
  .footer_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
.footer_div_div1 a, .footer_div_div2 a, .footer_div_div3 a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 0.6em;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .footer_div_div1 {
    padding-left: 20px;
  }
}
.footer_div_div2 {
  padding-top: 15px;
}
@media screen and (min-width: 480px) {
  .footer_div_div2 {
    padding: 0 0 0 20px;
  }
}
.footer_esc_hacker {
  color: white;
  font-size: 0.8em;
  font-weight: blod;
}
@media screen and (min-width: 480px) {
  .footer_esc_hacker {
    padding-top: 40px;
  }
}
.footer_quodsi {
  color: white;
  font-size: 0.6em;
  padding-top: 10px;
}
.footer_site_map, .footer_follow {
  color: white;
  padding: 30px 0 5px 0;
  font-size: 0.8em;
  font-weight: blod;
}
@media screen and (min-width: 480px) {
  .footer_site_map {
    padding-top: 60px;
  }
}
