header {
          background-color: rgb(1, 24, 39);
          margin: auto;
          padding: 20px 5px;
          font-weight: bold;
        }
        
        .header_div1 {
          display: flex;
        }
        
        .header_img {
          margin: 20px;
        }
        
        .header_div2 {
          color: white;
          margin-left: -10px;
          margin-top: 18px;
          font-size: 1em;
        
          @include breakpoint ($small) {
            margin-top: 65px;
            display: flex;
            flex-direction: row;
          }
        
          &_h1 {
            @include breakpoint ($small) {
              font-size: 1.6em;
              margin-left: 15px;
              
            }
          }
        }
        
        .header_navbar a {
          text-decoration: none;
          color: white;
          display: none;
        
          @include breakpoint ($small) {
            display: inline;
        
          }
        }
        
        .header_navbar {
          @include breakpoint ($small) {
            display: flex;
            justify-content: space-evenly;
          }
        }