.sectionFive {
          &_div {
            @include breakpoint ($small) {
              display: flex;
              flex-direction: row-reverse;
            }
          }        
          &_div2 {
           @include column;
            align-items: flex-start;
            justify-content: center;
            padding: 0 20px auto 20px;        
            @include breakpoint ($small) {
              margin: 5px 25px 0 25px;
            }
          }
        
          &_img {
            object-fit: cover;
            width: 100vw;
            max-width: 100%;
            @include breakpoint ($small) {
              width: 170vw;   
              height: 250px;     
            }        
            @include breakpoint ($medium) {
              width: 150vw;
              height: 350px;
              max-height: 100%;
            }
        
            @include breakpoint ($large) {
              width: 140vw;
              height: 400px;
            }
        
            @include breakpoint  ($extra-large) {
              width: 83vw;
              height: 480px;
            }
          }
        
          &_play_online {
            font-weight: bold;
            font-size: 1.2em;
            margin: 10px 12px;
            @include breakpoint ($small) {
              font-size: 0.9em;      
            }
            @include breakpoint  ($medium) {
              font-size: 1.2em;      
            }
          }
        
          &_praeterea {
            margin: 10px 12px;
            font-size: 0.9em;
            @include breakpoint ($small) {
              font-size: 0.7em;      
            }
            @include breakpoint  ($medium) {
              font-size: 0.9em;      
            }
          }
        
          &_button_see_all_challenges {
            background-color: rgb(227, 23, 10);
            color: white;
            margin: 30px 25px;
            padding: 10px 25px;
            border-radius: 5px;
            font-size: 0.9em;
            @include breakpoint ($small) {
              font-size: 0.5em;      
            }
            @include breakpoint ($medium) {
              font-size:  0.9em;    
            }
          }
        }
        