/* this it sectionTwo */
.sectionTwo_title_popularChallenges {
          font-size: 1.3em;
          padding: 10px;
          text-align: center;
        }
        
        .sectionTwo_slider {
          display: flex;
          gap: 20px;
          overflow-x: scroll;
          margin: 0;
          @include breakpoint ($small) {
            display: flex;
            margin-top: 30px;
            overflow-x: hidden;  
            gap: 0;
            justify-content: center;             
         }
        }
        
        .sectionTwo_hacker_img {
          width: 100%;
        }
        
        .sectionTwo_div1 {
          min-width: 300px;
          border: 2px ridge;
          border-radius: 7px;
          width: 400px;
          margin: 20px;
          box-shadow: 1px 2px rgb(1, 24, 39);
          @include breakpoint ($small) {
            min-width:250px;
            margin:10px;
         }
        }
        
        .sectionTwo_title_room {
          font-size: 1.1em;
          padding: 7px 0 0 13px;
          @include breakpoint ($small){
            font-size: 0.8em;
         }
        }
        
        .sectionTwo_div2 {
          display: flex;
          align-items: center;
        
          img {
            padding-left: 10px;
            width: 5%;
            height: auto;
            @include breakpoint ($small) {
              width: 3.5%;
               height: auto;
           }
          }
        }
        
        .sectionTwo_div2_2-6 {
          padding-left: 10px;
          font-size: 0.7em;
          @include breakpoint ($small) {
            font-size: 0.5em;
            margin-left: 20%;
         }
        }
        
        .sectionTwo_praetera {
          font-size: 0.8em;
          padding: 20px 10px;
          @include breakpoint ($small){
            font-size: 0.6em;
         }
        }
        
        .sectionTwo_div4 {
          @include column;
        
          @include breakpoint ($small){
            flex-direction: row-reverse;
            justify-content: center;
          }
        
        }
        
        .button_book_this_room {
          background-color: rgb(227, 23, 10);
          color: white;
          font-size: 0.7em;
          padding: 10px 25px;
          border-radius: 5px;
          margin: 0 10px 15px 120px;
          @include breakpoint ($small) {
            font-size: 0.5em;
         }
        }
        
        .sectionTwo_div4_link {
          text-align: center;
          margin: 15px;
          color: rgb(54, 118, 157);
          font-weight: bold;
          font-size: 0.7em;
        
          @include breakpoint ($small) {
            color: white;
            background-color: red;
            text-decoration: none;
            margin: 30px 60px;
            padding: 22px 30px;
            border-radius: 10px;
            font-size: 0.9em;
          }
        }