/* This is sectionOne */
.sectionOne_img {
          width: 100%;
        
          @include breakpoint ($small) {
            max-height: 80vh;
            object-fit: cover;
          }
        }
        .sectionOne_section{
          @include breakpoint ($small){
            margin-top:-70px
          }
        }
        
        .sectionOne_div1 {
          display: flex;
          flex-direction: column;
        
          @include breakpoint ($small){
            flex-direction: row-reverse;
            justify-content: center;
          }
        
        }
        
        .button_on_site_challenges {
          background-color: rgb(138, 207, 229);
          margin: 30px 60px;
          padding: 20px 20px;
          border-radius: 10px;
          box-shadow: 1px 4px rgb(1, 24, 39);
          font-size: 0.9em;
        
          @include breakpoint ($small){}
        }
        
        .sectionOne_div1_link {
          text-align: center;
          margin: 15px;
          color: rgb(54, 118, 157);
          font-weight: bold;
          font-size: 0.7em;
        
          @include breakpoint ($small) {
            color: white;
            background-color: red;
            text-decoration: none;
            margin: 30px 60px;
            padding: 22px 30px;
            border-radius: 10px;
            font-size: 0.9em;
          }
        }
        
        .sectionOne_div2 {
           margin: 20px 0 50px 10px;
           @include breakpoint ($small) {
            display:flex;
            flex-direction: row;
            margin: 0 8% 50px 8%;
          }
        }
        
        .sectionOne_div3_1 {
          display: flex;
          flex-direction: row;
        
          @include breakpoint ($small) {}
        }
        .sectionOne_div3_2{
          display:none;
          @include breakpoint ($small) {
             display:block;
             display: flex;
          flex-direction: row;
          }
        }
        
        
        .sectionOne_div3_div_visiter_comment {
          font-family: Italic;
          padding-right: 15px;
          font-size: 0.8em;
          @include breakpoint ($small){
            font-size: 0.7em;
            width:90%;
            padding-bottom:15px;
         }
        
        
        }
        
        .sectionOne_div3_div_visiter_profil {
        
          font-size: 0.7em;
         
          margin-bottom: 0;
          @include breakpoint ($small) {
            font-size: 0.6em;  
           
         }
        
        }
        
        .sectionOne_div3_div {
          margin-bottom: auto;
          display: flex;
          flex-direction: column;
          padding: 0 20px 15px 20px; 
        }
        