@mixin breakpoint($min-size){
          @media screen and (min-width: $min-size){
            @content;
          }
        }
@mixin row {
          display: flex;
          flex-direction: row;
        }
@mixin column {
          display: flex;
          flex-direction: column;
        }